@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'AndikaBold';
    src: local("fonts"),
     url(~/assets/fonts/Andika-Bold.ttf) format("truetype");
}

@font-face {
    font-family: 'AndikaRegular';
    src: local("fonts"),
     url(~/assets/fonts/Andika-Regular.ttf) format("truetype");
}

@font-face {
    font-family: 'AndikaItalic';
    src: local("fonts"),
     url(~/assets/fonts/Andika-Italic.ttf) format("truetype");
}

@font-face {
    font-family: 'AndikaBoldItalic';
    src: local("fonts"),
     url(~/assets/fonts/Andika-BoldItalic.ttf) format("truetype");
}

body {
    font-family: 'AndikaRegular', sans-serif;
    color: #212427;
}

.text-regular {
    font-family: 'AndikaRegular', sans-serif;
    color: #212427;
}

.text-bold {
    font-family: 'AndikaBold', sans-serif;
    color: #212427;
}

.text-italic {
    font-family: 'AndikaItalic', sans-serif;
    color: #212427;
}

.text-bold-italic {
    font-family: 'AndikaBoldItalic', sans-serif;
    color: #212427;
}

@layer components {
    .btn {
        @apply px-3 py-2 m-2 text-sm;
    }

    .btn-transparent {
        @apply  rounded-3xl  text-[#313131] border-2 border-[#313131] hover:bg-[#313131] hover:text-white; 
    }

    .btn-green {
        @apply  rounded-3xl  bg-[#00A991] text-white hover:bg-[#007261]; 
    }

    .btn-green-sm {
        @apply  rounded-lg  bg-[#00A991] text-white m-0.5 px-4 hover:bg-[#007261]; 
    }

    .btn-transparent-noborder {
        @apply  rounded-3xl  text-[#313131];
    }

    .btn-transparent-border-bottom {
        @apply border-b-2 border-[#ededed];
    }

}

