@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'AndikaBold';
    src: local("fonts"),
     url(~/assets/fonts/Andika-Bold.ttf) format("truetype");
}

@font-face {
    font-family: 'AndikaRegular';
    src: local("fonts"),
     url(~/assets/fonts/Andika-Regular.ttf) format("truetype");
}

@font-face {
    font-family: 'AndikaItalic';
    src: local("fonts"),
     url(~/assets/fonts/Andika-Italic.ttf) format("truetype");
}

@font-face {
    font-family: 'AndikaBoldItalic';
    src: local("fonts"),
     url(~/assets/fonts/Andika-BoldItalic.ttf) format("truetype");
}

body {
    font-family: 'AndikaRegular', sans-serif;
    color: #212427;
    scroll-behavior: smooth;
    background-color: #fffff0;
}

.gradient-background {
    background: linear-gradient(90deg, #FDBB2D 0%, #22C1C3 100%);
    /* background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%); */
    /* background: linear-gradient(90deg, #d53369 0%, #daae51 100%); */
    /* background: linear-gradient(90deg, #efd5ff 0%, #515ada 100%); */
    /* background: linear-gradient(90deg, #fcff9e 0%, #c67700 100%); */
    /* background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%); */
    /* background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%); */
    /* background: linear-gradient(90deg, #9ebd13 0%, #008552 100%); */
}
.gradient-background-reverse {
    background: linear-gradient(90deg,#22C1C3 0%, #FDBB2D 100%);
}

.frosted-glass {
    backdrop-filter: blur(15px);
}

h1 {
    color: #313131!important;
}

.text-regular {
    font-family: 'AndikaRegular', sans-serif;
    color: #212427;
}

.text-bold {
    font-family: 'AndikaBold', sans-serif;
    color: #212427;
}

.text-italic {
    font-family: 'AndikaItalic', sans-serif;
    color: #212427;
}

.text-bold-italic {
    font-family: 'AndikaBoldItalic', sans-serif;
    color: #212427;
}

@layer components {
    .btn {
        @apply px-3 py-2 m-2 hover:font-bold hover:shadow-md;
    }

    .btn-transparent {
        @apply  rounded-3xl  text-[#313131] border-2 border-[#313131] hover:bg-[#313131] hover:text-white; 
    }

    .btn-green {
        @apply  rounded-3xl  gradient-background-reverse text-[#313131]; 
    }

    .btn-green-sm {
        @apply  rounded-lg  gradient-background-reverse text-[#313131] m-0.5; 
    }

    .btn-transparent-noborder {
        @apply  rounded-3xl  text-[#313131];
    }

    .btn-transparent-border-bottom {
        @apply border-b-2 border-[#ededed];
    }

}

